th {
    text-align: center;
}

tr {
    text-align: center;
    color: #7c7c7c;
    border-color: #7c7c7c;
    border-bottom-width: 1, 5px;
    border-bottom-style: solid;
}

td {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    border-right-width: 1, 5px;
    border-right-style: solid;
}

.menu {
    color: #7c7c7c;
    font-size: 32px;
    line-height: 35px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 600;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 25px;
}

table {
    font-size: 24px;
    line-height: 40px;
    margin-left: 45px;
    border-top-style: solid;
    border-top-width: 1, 5px;
    border-left-style: solid;
    border-left-width: 1, 5px;
    border-bottom-width: 1, 5px;
    border-bottom-style: solid;
    border-right-width: 1, 5px;
    border-right-style: solid;
    border-color: #7c7c7c;
    width: 90%;
}

.custom-header {
    color: #338326;
    border-color: #7c7c7c;
    border-bottom-width: 1, 5px;
    border-bottom-style: solid;
}