<nav>
    <h1 class="menu">
        Log da Horta</h1>
    <table>
        <tr>
            <td>10/08/2020</td>
            <td>11:30</td>
            <td>Irrigação foi ligada</td>
        </tr>
        <tr>
            <td>10/08/2020</td>
            <td>10:37</td>
            <td>Foram coletadas 5 alfaces</td>
        </tr>
        <tr>
            <td>10/08/2020</td>
            <td>8:30</td>
            <td>Irrigação foi desligada</td>
        </tr>
        <tr>
            <td>09/08/2020</td>
            <td>23:30</td>
            <td>Foram coletadas 35 pimentas</td>
        </tr>
        <tr>
            <td>09/08/2020</td>
            <td>17:02</td>
            <td>Irrigação foi ligada</td>
        </tr>
        <tr>
            <td>⁝</td>
            <td>⁝</td>
            <td>⁝</td>
        </tr>
    </table>
</nav>