<nav>
    <h1 class="menu">
        Log da Horta</h1>
    <table>
        <tr class="custom-header">
            <th style="width: 10%; border-right-style: solid;border-right-width: 3px;">ID</th>
            <th style="width: 30%;border-right-style: solid;border-right-width: 3px;">Umidade</th>
            <th style="width: 30%;border-right-style: solid;border-right-width: 3px;">Irrigação</th>
            <th style="width: 30%;border-right-style: solid;border-right-width: 3px;">Hora/Data</th>
        </tr>
        <tr *ngFor="let gardenInfo_LOG of gardenInfos_LOG">
            <td>{{gardenInfo_LOG.id}}</td>
            <td>{{gardenInfo_LOG.umidity | percent}}</td>
            <td>{{gardenInfo_LOG.irrigation}}</td>
            <td>{{gardenInfo_LOG.date}}</td>
        </tr>
    </table>
</nav>