<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>

    <div class="row">
        <div class="col-lg-6">
            <h1 class="retirada-title">Retirada de produtos</h1>
            <table class="retirada-table">
                <thead>
                    <tr class="tr-thead-principal">
                        <th class="th-thead-principal" colspan="5">Produtos Disponíveis</th>
                    </tr>
                </thead>
                <tr class="tr-head">
                    <th class="th-head" width=8%;>CRD.</th>
                    <th class="th-head" width=23%;>Produto</th>
                    <th class="th-head" width=23%;>Quantidade existente</th>
                    <th class="th-head" width=23%;>Quantidade desejada</th>
                    <th class="th-head" width=23%;>Total (C$)</th>
                </tr>
                <tr>
                    <td style="font-size: 14px;">C$1,00</td>
                    <td>Tomate</td>
                    <td>5</td>
                    <td>
                        <form>
                            <div class="form-row align-items-center">
                                <div class="col-auto">
                                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. desejada">
                                </div>
                            </div>
                        </form>
                    </td>
                    <td>C$0,00</td>
                </tr>
                <tr>
                    <td style="font-size: 14px;">C$2,00</td>
                    <td>Alface</td>
                    <td>20</td>
                    <td>
                        <form>
                            <div class="form-row align-items-center">
                                <div class="col-auto">
                                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. desejada">
                                </div>
                            </div>
                        </form>
                    </td>
                    <td>C$0,00</td>
                </tr>
                <tr>
                    <td style="font-size: 14px;">C$3,00</td>
                    <td>Rúcula</td>
                    <td>10</td>
                    <td>
                        <form>
                            <div class="form-row align-items-center">
                                <div class="col-auto">
                                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. desejada">
                                </div>
                            </div>
                        </form>
                    </td>
                    <td>C$0,00</td>
                </tr>
                <tr>
                    <td style="font-size: 14px;">C$4,00</td>
                    <td>Pimenta</td>
                    <td>25</td>
                    <td>
                        <form>
                            <div class="form-row align-items-center">
                                <div class="col-auto">
                                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. desejada">
                                </div>
                            </div>
                        </form>
                    </td>
                    <td>C$0,00</td>
                </tr>
                <tr>
                    <td style="font-size: 14px;">C$5,00</td>
                    <td>Cebola</td>
                    <td>0</td>
                    <td>
                        <form>
                            <div class="form-row align-items-center">
                                <div class="col-auto">
                                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. desejada">
                                </div>
                            </div>
                        </form>
                    </td>
                    <td>C$0,00</td>
                </tr>
                <tr style="border-color: transparent;">
                    <td style="border-left: transparent; border-color: transparent;"></td>
                    <td style="border-color: transparent;"></td>
                    <td style="border-color: transparent;"></td>
                    <td style="border-color: transparent;">Total:</td>
                    <td style="border-color: transparent;">C$0,00</td>
                </tr>
                <tr style="border-color: transparent;">
                    <td style="border-left: transparent; border-color: transparent;"></td>
                    <td style="border-color: transparent;"></td>
                    <td style="border-color: transparent;"></td>
                    <td style="border-color: transparent;">Você tem:</td>
                    <td style="border-color: transparent;">C$100,00</td>
                </tr>
            </table>

            <div class="d-grid gap-2 col-4 mx-auto">
                <button class="btn btn-primary" type="button" href="#">Solicitar</button>
            </div>
        </div>
        <div class="col-lg-6 side-image img-responsive"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
</body>

</html>