<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>

    <body>
        <div>
            <div class="row">
                <div class="col-xxl-6 container">
                    <div>
                        <h1 class="login-title">Login</h1>
                    </div>
                    <form>
                        <div class="form-group row">
                            <label for="Email" class="col-sm-2 col-form-label">Email:</label>
                            <div class="col-sm-6 form-div">
                                <input type="email" class="form-control" id="Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Password" class="col-sm-2 col-form-label">Senha:</label>
                            <div class="col-sm-6 form-div">
                                <input type="password" class="form-control" id="Password">
                                <a class="esqueci-senha-button" routerLink="/recuperar-senha">Esqueci minha senha</a>
                            </div>
                        </div>
                    </form>
                    <table class="table-botao">
                        <tr>
                            <td style="margin: auto;">
                                <h1 class="button-h1">
                                    <a class="entrar-button" (click) = "navigateToDashboard()">Entrar</a>
                                </h1>
                            </td>
                        </tr>
                        <tr>
                            <td style="margin: auto;">
                                <h1 class="button-h1">
                                    <a class="cadastrar-button" routerLink="/cadastro">Cadastrar</a>
                                </h1>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6 side-image img-responsive"></div>
            </div>
        </div>
                    



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>
