<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>


<body>
    <div class="row">
        <div class="col-sm-6 container">
            <div>
                <h1 class="cadastro-title">Cadastro</h1>
            </div>
            <form>
                <div class="form-group row">
                    <label for="text" class="col-sm-5 col-form-label">Nome:</label>
                    <div class="col-sm-6 form-div">
                        <input type="text" class="form-control" id="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Email" class="col-sm-5 col-form-label">Email:</label>
                    <div class="col-sm-6 form-div">
                        <input type="email" class="form-control" id="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-sm-5 col-form-label">Telefone:</label>
                    <div class="col-sm-6 form-div">
                        <input type="text" class="form-control" id="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Password" class="col-sm-5 col-form-label">Senha:</label>
                    <div class="col-sm-6 form-div">
                        <input type="password" class="form-control" id="password">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Password" class="col-sm-5 col-form-label">Confirmar Senha:</label>
                    <div class="col-sm-6 form-div">
                        <input type="password" class="form-control" id="password">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-sm-5 col-form-label">Endereço:</label>
                    <div class="col-sm-6 form-div">
                        <input type="text" class="form-control" id="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-sm-5 col-form-label">Cidade/Estado:</label>
                    <div class="col-sm-6 form-div">
                        <input type="text" class="form-control" id="text">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group row" style="align-content: center; margin-bottom: 20px;">
                        <div class="col-sm-6">
                            <label for="name" class="col-form-label">Você é:</label>
                        </div>
                        <div class="col-sm-6">
                            <div class="row" style="align-content: center; margin-top: 1px; margin-top: 15px;">
                                <div class="form-check col-sm-6 contanier" style="font-size: 20px;">
                                    <input type="radio" name="flexRadioDefault" id="flexRadioDefault1" class="form-check-input">
                                    <label for="flexRadioDefault1" class="form-check-label" style="font-size: 20px;"> Cuidador </label>
                                </div>
                                <div class="form-check col-sm-6 contanier" style="font-size: 20px; align-content: center;">
                                    <input type="radio" name="flexRadioDefault" id="flexRadioDefault1" class="form-check-input">
                                    <label for="flexRadioDefault1" class="form-check-label" style="font-size: 20px"> Cliente </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>







            </form>
            <table class="table-botao">
                <tr>
                    <td style="margin: auto;">
                        <h1 class="button-h1">
                            <a class="cadastrar-button" (click)="navigateToDashboard()">Cadastrar</a>
                        </h1>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6 side-image img-responsive"></div>

    </div>


</body>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</html>